
body{

    color: #333;}
#header {
    background: lightblue;
    color: black;
    padding: 40px 20px;
    text-align: center;
    border-bottom: 5px; }
#content {
    padding: 35px;
    max-width: 900px;
    margin: 25px auto;
 
 }
.title {
    border-left: 5px;
    padding-left: 10px;
    margin-top: 30px;}
.article {
    padding: 20px;
    border: 1px
    margin-bottom: 20px;}

.image {
    max-width: 100%;

    border-radius: 5px;
    display: block;
    margin: 10px auto;}
audio, video {
    width: 100%;
    margin-top: 10px;}
form {
    background: #f2f2f2;
    padding: 20px;}
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;}
button {
    background-color: lightgreen;
    color: white;
    padding: 10px 20px;
}
#footer {
    color: #bdc3c7;
    padding: 20px;
    margin-top: 40px;}
